<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.21812.12000" targetFramework="net45" />
  <package id="Universe.Diagnostic" version="0.9.3.4" targetFramework="net45" />
  <package id="Universe.Helpers" version="0.9.3.4" targetFramework="net45" />
  <package id="Universe.Types" version="0.9.3.4" targetFramework="net45" />
</packages>