<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.24322.12000" targetFramework="net45" />
  <package id="SharePoint" version="15.0.0" targetFramework="net45" />
  <package id="Universe.Diagnostic" version="1.0.0.0" targetFramework="net45" />
  <package id="Universe.Helpers" version="1.0.0.0" targetFramework="net45" />
  <package id="Universe.Types" version="1.0.0.0" targetFramework="net45" />
</packages>